.App {
  text-align: center;
}

.error {
  font-size: 100px;
  color: red;
  font-family: fantasy;
}

.animate__animated {
  flex: 0 1 22%;
  margin: 10px;
  padding: 10px;
  background-color: orange;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 10px black;
}